<link rel="stylesheet" type="text/css" href="../assets/site.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,800&display=swap" rel="stylesheet">

<header>

  <div class="head-right">
  <ul>
    <li>
      <a href='./posts/index.html'>
	Posts 📜</a>
    </li>
    <li>
      <a href='./portfolio/index.html'>
	Portfolio 📓   </a>
    </li>
    <li>
      <a href='./about/index.html'>
	About 🫠</a>
    </li>
    <li>
      <a href='./donate/index.html'>
	Donate 💸</a>
    </li>
    <li>
      <a href='./projects/index.html'>
	Projects 📦</a>
    </li>
  </ul>

  </div>
  <div class="head-right">
    <a href="./index.html">Home</a>
   </div>
</header>


