<link rel="stylesheet" type="text/css" href="../assets/site.css" />

<header>

  <div class="head-right">
  <ul>
    <li>
      <a href='./posts/index.html'>
	Posts 📜</a>
    </li>
    <li>
      <a href='./portfolio/index.html'>
	Portfolio 📓   </a>
    </li>
    <li>
      <a href='./about/index.html'>
	About 🫠</a>
    </li>
    <li>
      <a href='./donate/index.html'>
	Donate 💸</a>
    </li>
    <li>
      <a href='./projects/index.html'>
	Projects 📦</a>
    </li>
  </ul>

  </div>

  <div class="head-right">
    <a href="../index.html">Home</a>

    <button id="theme-button"> undefined LOL!! 😜 </button>
   </div>
</header>

 <script>


// get the cookie value
const cookies = document.cookie.split(';').map(cookie => cookie.trim());
const themeCookie = cookies.find(cookie => cookie.startsWith('theme='));
const themeValue = themeCookie ? themeCookie.split('=')[1] : null;

// use the theme value to set the current theme

const root = document.documentElement;
const themeButton = document.getElementById('theme-button');
function setLight () {
    root.style.setProperty('--lightness', '93%')
    themeButton.textContent = '😎';
    //localStorage.setItem("theme", "light");
    document.cookie = `theme=light; expires=${new Date(Date.now() + 365 * 24 * 60 * 60 * 1000).toUTCString()}; path=/`;
    console.log("changing theme to LIGHT")
}
function setDark () {
    root.style.setProperty('--lightness', '10%');
    themeButton.textContent = '🌚';
    //localStorage.setItem("theme", "dark");
    document.cookie = `theme=dark; expires=${new Date(Date.now() + 365 * 24 * 60 * 60 * 1000).toUTCString()}; path=/`;
    console.log("changing theme to DARK")
}

const savedTheme = localStorage.getItem("theme");
console.log("current theme are: ", savedTheme);

if (themeValue == "dark") {
    setDark();
}
else if (themeValue == "light"){
    setLight();
}




themeButton.addEventListener('click', () => {
    const cookies = document.cookie.split(';').map(cookie => cookie.trim());
    const themeCookie = cookies.find(cookie => cookie.startsWith('theme='));
    const themeValue = themeCookie ? themeCookie.split('=')[1] : null;
    console.log(themeValue);

    if (themeValue == "light") {
	setDark();
    }
    else {
	setLight(); 
    }

});

</script>




